@media (min-width: 1366px) {
    .cmpad {
      max-width: 1526.4px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 54px;
      padding-right: 54px;
    }
  }
  
  @media (max-width: 1366px) {
    .cmpad {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
  
  @media (max-width: 991px) {
    .cmpad {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  
  @media (max-width: 767px) {
    .cmpad {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  .positioning {
    width: 100%;
    height: 90px;
  }
  
  /* no padding */
  
  @media (min-width: 1366px) {
    .nopad {
      max-width: 1526.4px;
    }
  }
  
  /* ;;;;;;;;;;;;;;;;;;; cmpad-full ;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
  
  @media (min-width: 1366px) {
    .cmpad-full {
      max-width: 1526.4px;
      margin-left: auto;
      margin-right: auto;
      /* padding-left: 54px;
          padding-right: 54px; */
    }
  }
  
  @media (max-width: 1366px) {
    .cmpad-full {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  
  @media (max-width: 991px) {
    .cmpad-full {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  
  @media (max-width: 767px) {
    .cmpad-full {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  .positioning-csp {
    width: 100%;
    height: 108px;
  }
  