.login {
    width: 100%;
    background-color: #4eac6d;
    height: 100vh;
}

.login .main-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    gap: 15px;

}

.login .sec1 {
    width: 20%;
}

.login .sec1 h3 {
    font-size: 2rem;
    font-weight: 600;
}

.login .sec2 {
    width: 80%;
    min-height: 80vh;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white;
    border-radius: 16px;
}